- name: Install packages
  import_role:
    name: common_roles/install_latest
  vars:
    packages: "{{ basic_packages }}"

- name: Download and extract Eza
  become: true
  unarchive:
    src: "{{ item }}"
    dest: "/usr/local/bin/"
    remote_src: yes
    extra_opts: ["--strip-components=1"]
    mode: 0755
  with_items:
    - "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz"

- name: Check if nvim is already installed
  stat:
    path: "/usr/bin/nvim"
  register: nvim_install

- name: Install nvim tarball
  when: not nvim_install.stat.exists
  block:
    - name: Download latest Neovim release
      get_url:
        url: https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
        dest: /tmp/nvim-linux-x86_64.tar.gz
        mode: 0644

    - name: Extract Neovim to /opt
      become: true
      unarchive:
        src: /tmp/nvim-linux-x86_64.tar.gz
        dest: /tmp
        remote_src: true

    - name: Copy Neovim binaries to /usr/bin
      become: true
      copy:
        src: /tmp/nvim-linux-x86_64/bin/
        dest: /usr/bin/
        owner: root
        group: root
        mode: 0755
        remote_src: true

    - name: Copy Neovim libraries to /usr/lib
      become: true
      copy:
        src: /tmp/nvim-linux-x86_64/lib/
        dest: /usr/lib/
        owner: root
        group: root
        mode: 0755
        remote_src: true

    - name: Copy Neovim shared files to /usr/share
      become: true
      copy:
        src: /tmp/nvim-linux-x86_64/share/
        dest: /usr/share/
        owner: root
        group: root
        mode: 0755
        remote_src: true

- name: Check if oh-my-zsh is installed
  stat:
    path: "/home/{{ username }}/.oh-my-zsh"
  register: oh_my_zsh_install

- name: Install oh-my-zsh
  become: true
  become_user: "{{ username }}"
  shell: 'CHSH=no RUNZSH=no KEEP_ZSHRC=yes sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"'
  args:
    creates: "/home/{{ username }}/.oh-my-zsh"
  when: not oh_my_zsh_install.stat.exists

- name: Check if powerlevel10k is installed
  stat:
    path: "/home/{{ username }}/.oh-my-zsh/custom/themes/powerlevel10k"
  register: powerlevel10k_install

- name: Install powerlevel10k theme
  become: true
  become_user: "{{ username }}"
  ansible.builtin.git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "/home/{{ username }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
  when: not powerlevel10k_install.stat.exists
