- name: Setup docker
  tags: ignore-ci # ci doesn't boot with systemd
  import_role:
    name: common_roles/docker

- name: Mkdir docker_env_files
  file:
    state: directory
    path: "/home/{{ username }}/docker_env_files"
    mode: 0755

- name: Mkdir n8n data directory
  become: true
  file:
    state: directory
    path: "/{{ service.n8n.subdomain }}-data"
    owner: "1000"
    group: "1000"
    mode: 0755

- name: Docker env file
  copy:
    dest: "/home/{{ username }}/docker_env_files/{{ service.n8n.subdomain }}.env"
    content: |
      N8N_HOST="{{ service.n8n.subdomain }}.{{ domain }}"
      N8N_PORT=5678
      N8N_EDITOR_BASE_URL="https://{{ service.n8n.subdomain }}.{{ domain }}/"
      N8N_ENCRYPTION_KEY={{ 999999999999 | random(seed=inventory_hostname) }}
      N8N_SECURE_COOKIE=true
      GENERIC_TIMEZONE={{ timezone | default('UTC') }}
      NODE_ENV=production
    mode: 0644
